{% extends 'e_commerce/base.html' %}

{% block extra_styles %}
    {% load static %}
	<link rel="stylesheet" href="{% static 'e_commerce/css/footer.css' %}">
{% endblock %}

{% block content %}
    <h1 style="margin-left:2em; margin-bottom:-0.20em; font-family: 'Cambria', sans-serif; color: gray; font-style: italic;">Clientes</h1>
	
	<nav style="background-color: gray; width: 100%; height: 30px; display: flex; justify-content: center; margin-bottom:1em;">
    </nav>

    {% for cliente in clientes %}
        <a style="color: black;" href="{% url 'cliente' cliente.id %}">
		<u>
		<h2 style="font-family: 'Cambria', sans-serif; font-size: 32px; text-align: left; margin-left: 0.8em; margin-bottom:-0.5em;">{{ cliente.nome }}</h2>
		</u>
		</a>
        <br>
    {% endfor %}
{% endblock %}