{% extends "e_commerce/base.html" %}

{% block title %}Pulseiras{% endblock %}

{% block content %}
    <div class="form-container">
        <h2 class="form-title">Cadastrar Nova Pulseira</h2>
        <form action="{% url 'new_pulseira' %}" method="post" class="styled-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button name="submit" class="btn btn-primary submit-button">Adicionar</button>
        </form>
    </div>
    
        <div style="margin-bottom: 550px;"></div>

    
{% endblock %}
