{% extends "e_commerce/base.html" %}
{% load l10n %}

{% block extra_styles %}
    {% load static %}
	<link rel="stylesheet" href="{% static 'e_commerce/css/footer.css' %}">
{% endblock %}

{% block content %}

        <div>
		  <div class="containermth">
		    <div style="width: 15%;" class="cardsPai">
              <div style="border-width: 6px; border-style: solid; border-color: dimgray;" class="cardsFilho">
                <img height="200vw" width="50vw" src="{{ pulseira.imagem.url }}" alt="">
			  </div>
              <h2  class="text-center" style="font-family: 'Cambria', sans-serif; font-size: 32px; margin-top: 0.2em;">{{ pulseira.nome }}</h2>
			  <h3  class="text-center" style="font-family: 'Cambria', sans-serif; font-size: 18px; margin-top: 0.2em;">{{ pulseira.quantidade }} Unidade(s)</h2>
			  <h3  class="text-center" style="font-family: 'Cambria', sans-serif; font-size: 18px; margin-top: 0.2em;">R$ {{ pulseira.valor|localize }}</h2>
			  <button class="btn btn-primary submit-button" style="margin-bottom: 0.2em"><a style="color: white;" href="{% url 'update_pulseira' pulseira.id %}">Editar</a></button>
              <button class="btn btn-primary submit-button" style="margin-bottom: 0.2em"><a style="color: white;" href="{% url 'delete_pulseira' pulseira.id %}">Excluir</a></button>
              <button class="btn btn-primary submit-button" style="margin-bottom: 0.2em"><a style="color: white;" href="{% url 'new_compra' pulseira.id %}">Comprar</a></button>
		    </div>
	      </div>
        </div>

<!--
    <ul>
	    {% if pulseira.imagem %}
            <li><img height="200vw" src="{{ pulseira.imagem.url }}" alt=""></li>
		{% else %}
		{% endif %}
        <li>{{ pulseira.nome }}</li>
        <li>{{ pulseira.quantidade }}</li>
        <li>R$ {{ pulseira.valor|localize }}</li>
    </ul>
    <button><a href="{% url 'update_pulseira' pulseira.id %}">editar</a></button>
    <button><a href="{% url 'delete_pulseira' pulseira.id %}">excluir</a></button>
    <button><a href="{% url 'new_compra' pulseira.id %}">comprar</a></button>
-->	
{% endblock %}