{% extends "e_commerce/base.html" %}
{% load l10n %}

{% block content %}
    <ul>
        <li><img src="{{ pulseira.imagem.url }}" alt=""></li>
        <li>{{ pulseira.nome }}</li>
        <li>{{ pulseira.quantidade }}</li>
        <li>R$ {{ pulseira.valor|localize }}</li>
    </ul>
    <button><a href="{% url 'update_pulseira' pulseira.id %}">editar</a></button>
    <button><a href="{% url 'delete_pulseira' pulseira.id %}">excluir</a></button>
    <button><a href="{% url 'new_compra' pulseira.id %}">comprar</a></button>
{% endblock %}