{% extends 'e_commerce/base.html' %}
{% load l10n %}

{% block extra_styles %}
    {% load static %}
	<link rel="stylesheet" href="{% static 'e_commerce/css/footer.css' %}">
{% endblock %}

{% block content %}
    
	<h1 style="margin-left:2em; margin-bottom:-0.20em; font-family: 'Cambria', sans-serif; color: gray; font-style: italic;">Relatório de Compras</h1>
	
	<nav style="background-color: gray; width: 100%; height: 30px; display: flex; justify-content: center; margin-bottom:1em;">
    </nav>
	
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Cliente</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for compra in compras %}
                <tr>
                    <td>{{ compra.pulseira.nome }}</td>
                    <td>{{ compra.quantidade }}</td>
                    <td>{{ compra.cliente.nome }}</td>
                    <td>{{ compra.valor_total|localize }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p style="margin-left:0.6em;">Valor total: {{ total|localize }}</p>
    
{% endblock %}