{% extends 'e_commerce/base.html' %}

{% block title %}Actualizar Cliente{% endblock %}

{% block content %}
	<div class="form-container">
	<h1>Atualizar Cliente</h1>
    <form method="POST" class="styled-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" style="margin-bottom:0.4em;" class="btn btn-success submit-button">Atualizar</button>
        <button class="btn btn-success submit-button"><a style="color: white;" href="{% url 'delete_cliente' cliente.id %}">Excluir</a> </button>
    </form>
	</div>
{% endblock %}