
header .cabeca {
    height: 70px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.cabeca a{
    text-decoration: none;
    color: black;
    color: gray;
}

.navIndex {
    display: flex;
    justify-content: center;

}

.logo1 {
    font-size: 60px;
    color: dimgray;
    transition: 1s;
}

.logo1:hover {
    transform: scale(0.9);
    transition: 0.6s;
}

nav {
    display: flex;
    justify-content: center;
}


.logo1,
a {
    text-decoration: none;
}

.iaindex{
	margin-top: 0.6em;
    color: black;
}

nav .iaindex:hover {
    border-bottom: 2px solid black;
    color: gray;
}

nav p {
    color: white;
    font-size: medium;
}

.navIndex {
    display: flex;
    justify-content: center;
}

nav .iaindex:hover {
    border-bottom: 2px solid black;
}


.imgbanner {
    height: 700px;
}

.font {
    font-family: 'Playfair Display', serif;
}

.maincolor {
    background-color: rgb(255, 252, 247);
}

.explore {
    color: black;
    display: flex;
    justify-content: center;
}


 img .cardsFilho{
    width: 500px;
    height: 400px;
  }

.containermth {
    display: flex;
    justify-content: space-around;
}


.cardsPai {
    padding: 2% 1%;
    width: 50%;

}

.cardsFilho {
    border-radius: 12px;
    padding: 0%;
    overflow: hidden;
    transition: 0.7s linear;
}

.cardsFilho:hover {
    box-shadow: 0 0 8px gray;

}

.cardsFilho:hover img {
    scale: 1.2;
    transition: 0.7s;
}

.cardsFilho img {
    width: 100%;
    display: block;
    transition: 0.7s;

}
li {
    list-style-type: none;
}

footer {
    background-color: rgb(233, 233, 233);
}

.containerFooter {
    width: 100%;
    padding: 70px 30px 20px;
}

.redesSociais {
    display: flex;
    justify-content: center;
}

.redesSociais a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

i {
    font-size: 2em;
    color: rgb(100, 100, 100);
    opacity: 0.9;
}

.redesSociais a:hover {
    background-color: rgb(48, 48, 48);
    transition: 0.5s;
}

a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
    justify-content: center;
    display: flex;
}

.footerNav ul {
    display: flex;
    justify-content: center;
}

.footerNav ul li a {
    color: black;
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
    opacity: 0.7;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerCopyright {
    background-color: rgb(62, 62, 62);
    padding: 10px;
    text-align: center;
	width: 100%;
}

.footerBottom p {
    color: white;
}

.footerCopyright p {
    color: white;
}



/* Cadastrar Pulseiras */
/* Centralizar o formulário */
.form-container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
}

/* Título do formulário */
.form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #343a40;
}

/* Estilo do formulário */
.styled-form input[type="text"],
.styled-form input[type="email"],
.styled-form input[type="password"],
.styled-form input[type="number"],
.styled-form select,
.styled-form textarea {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
}


.styled-form input[type="text"]:focus,
.styled-form input[type="email"]:focus,
.styled-form input[type="password"]:focus,
.styled-form input[type="number"]:focus,
.styled-form select:focus,
.styled-form textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.8);
    outline: none;
}

/* Botão de envio */
.submit-button {
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    background-color: gray;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: black;
}

/* Cadastrar Clientes */
